.container
  %h1.page-header
    Últimas noticias

  %p
    Se muestran los eventos de todas las partidas que se están jugando.

  %h2
    Eventos más destacados
  %ul.star_list
    %li
      = link_to "Troya", "#"
      ha sido tomada por 
      = link_to "Aquiles", "#"
    %li
      = link_to "Héctor", "#"
      ha muerto a manos de 
      = link_to "Aquiles", "#"
      en 
      = link_to "combate singular", "#"      
    %li
      Lore ipsum    

  %h2
    Eventos de tus partidas
  %ul.check_list

    %li      
      = link_to "Hades", "#"
      maldice a 
      = link_to "Aretha", "#"
      y pierde sus 
      = link_to "don profético", "#"
    %li
      = link_to "Sparta", "#"
      ha sido tomada por 
      = link_to "Ecuménicus", "#"
      = link_to "asediada durante treinta días", "#"      
    %li
      Lore ipsum
    
  %h2
    Últimos eventos de partidas finalizadas
  
  %ul.arrow_list
    %li
      = link_to "Troya", "#"      
      ha sido tomada por 
      = link_to "Aquiles", "#"
      = link_to "por combate singular", "#"            
    %li
      = link_to "Héctor", "#"
      ha muerto a manos de 
      = link_to "Aquiles", "#"
      por 
      = link_to "Combate singular", "#"
    %li
      = link_to "Ulises", "#"
      abandona la 
      = link_to "Conquista de Troya"      

  %h2
    Todos los eventos

  %ul.arrow_list
    %li    
      = link_to "Paris", "#"
      se une a la batalla por 
      = link_to "Troya", "#"
    %li
      = link_to "¡Trampa!", "#"
      planeada por
      = link_to "Piríades", "#"       
    %li
      = link_to "Ulises", "#"
      se une a la batalla por 
      = link_to "Troya", "#"      


